body{
    margin: auto;
    max-width: 100%;
    text-align: center;
}
progress{
    height: 1em;
    appearance: none;
    color: white;
    width: 100%;
    margin: 0;
}
progress::-webkit-progress-bar {
    height: 5px;
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
progress::-webkit-progress-value {
    height: 5px;
    border-radius:10px;
    background: #50B1FA;
    background: -webkit-linear-gradient(to right, #50B1FA, #092ED1);
    background: linear-gradient(to right, #50B1FA, #092ED1);

}
.message{
    font-size: 25px;
    width: 600px;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 50%;
    transform: translateX( -50% );
}
.profile{
    margin: 4px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.author{
    font-size: 25px;
    position: relative;
    bottom: 10px;
    display: inline;
}
.profile-wrap{
    margin-left: 10px;
    float: left;
}